{% load i18n admin_urls unfold %}

<div {% if not is_popup %}id="submit-row"{% endif %} class="relative lg:sticky lg:bottom-0 z-40">
    <div class="backdrop-blur-xs bg-white/80 rounded-b-default pb-4 px-4 dark:bg-base-900/80 lg:border-t lg:border-base-200 relative lg:scrollable-top lg:py-0 dark:border-base-800">
        <div class="flex flex-col-reverse gap-3 items-center mx-auto lg:flex-row-reverse container lg:h-[64px]">
            {% block submit-row %}
                {% if show_save %}
                    <button type="submit" form="{{ opts.model_name }}_form" name="_save" class="font-medium inline-flex items-center gap-1 rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 border border-transparent bg-primary-600 text-white hover:bg-primary-600/80 w-full lg:w-auto">
                        {% trans "Save" %}
                    </button>
                {% endif %}

                {% if show_save_and_continue %}
                    <button type="submit" form="{{ opts.model_name }}_form" name="_continue" class="font-medium inline-flex items-center gap-1 rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 bg-base-100 border border-transparent text-important dark:bg-base-800 hover:bg-base-100/80 dark:hover:bg-base-800/80 w-full lg:w-auto">
                        {% if can_change %}{% trans "Save and continue editing" %}{% else %}{% trans "Save and view" %}{% endif %}
                    </button>
                {% endif %}

                {% if show_save_and_add_another %}
                    <button type="submit" form="{{ opts.model_name }}_form" name="_addanother" class="font-medium inline-flex items-center gap-1 rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 bg-base-100 border border-transparent text-important dark:bg-base-800 hover:bg-base-100/80 dark:hover:bg-base-800/80 w-full lg:w-auto">
                        {% trans "Save and add another" %}
                    </button>
                {% endif %}

                {% if show_delete_link and original %}
                    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                    <a href="{{ delete_url }}{% if preserved_filters %}?{{ preserved_filters }}{% endif %}" class="font-medium inline-flex items-center gap-1 rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 border border-red-600 bg-red-600 text-white hover:bg-red-600/80 w-full lg:w-auto">
                        {% trans "Delete" %}
                    </a>
                {% endif %}

                {% for action in actions_submit_line %}
                    <button type="submit" form="{{ opts.model_name }}_form" name="{{ action.action_name }}" class="font-medium inline-flex items-center gap-1 rounded-default justify-center whitespace-nowrap cursor-pointer px-3 py-2 border border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80 w-full lg:w-auto">
                        {{ action.description }}
                    </button>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
