[Unit]
Description=EDUQASH PRO V2.0 Telegram Bot Service
After=network.target redis-server.service postgresql.service eduqash.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/eduqash2
ExecStart=/home/ubuntu/eduqash2/venv/bin/python manage.py run_bot
Restart=always
RestartSec=5
EnvironmentFile=/home/ubuntu/eduqash2/.env

[Install]
WantedBy=multi-user.target
